[SddmGreeterTheme]
Name=snow
Description=A silly theme for SDDM
Author=Mr. Snowy
Copyright=(c) 2024, Mr. Snowy
Email=
License=GPLv3
Type=sddm-theme
Version=0.1.5
Website=https://github.com/MrSn0wy/sddm-snow/
Screenshot=preview.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=chili
Theme-API=2.0
